@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
    font-weight: 300;
}

html, body {
  /* position: relative; */

}
/* GLOBAL CSS */
.obj-width{
    max-width: 1600px;
    margin: auto;
} 
nav{
    /* width: 100%; */
    background-color: #2d4c50;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.3);

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem .8rem;

}
.navbar .logo{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;
}

#search-input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    outline: none;
    border: none;

}
#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;


}

#blog-container{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
    margin: 10px;
    


}

.blog-card{
    width: 280px;
    border-radius: 10px;
    border: 1px solid #2d4c50;
    cursor: pointer;
    padding: .7rem 1rem;
    margin: 20px ;
     transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.blog-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}
.blog-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
     box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);

}
.blog-card:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}

.blog-card h2{
    color: #141414;
    font-size: 1.2rem;
    font-weight: 500;

}
.blog-card p{
    font-size: .9rem;
    padding-top: 0.7rem;

}

@media (max-width:500px) {
    .nav {
        padding: 0 20px;
}
    .navbar .logo {
    font-size: 1.8rem;
}
#search-input {

    padding: 10px 20px;
    width: 140px;


    font-size: 13px;
   

    
   
}
#search-button {
    padding: 10px 20px;
  
    font-size: 13px;
  
    margin-left: 10px;
}
.blog-card {
    width: 100%;
  
}
.navbar .logo {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
    
}

